body{
    margin: auto;
    padding: auto;
    font-family: 'Poppins','Verdana','Arial';
    max-width: 1090px;
}
h2, p{
    margin: 10px;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

.menu li{
    float: left;
}

.menu li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: fit-content;
}

.menu li a:hover:not(.active){
    background-color: #111111;
}

.menu li a.active{
    background-color: #009929;
    padding: 5px;
    margin: 0;
} 

.mySlide{
    display: none;
}

.w3-left, .w3-right, .w3-bage{
    cursor: pointer;
}

.w3-bage{
    width: 13px;
    height: 13px;
    padding:0;
}
.banner{
    max-width: 1090px;
}
.card{
    width: 100%;
    max-width: 400px;
}

